.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 8px;
}

ul li {
  text-align: justify;
}

p {
  text-align: justify;
}