.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  height: 200px;
  width: 200px;
  font-size: 8rem;
}

img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 8px;
}

ul li, p {
  text-align: justify;
}

a:hover {
  text-decoration: none;
}
